MYSQL_HOST=themepark6.mysql.database.azure.com
MYSQL_PORT=3306
MYSQL_USER=<username>@themepark6
MYSQL_PASSWORD=<password>
MYSQL_DATABASE=ThemeParkDB
MYSQL_SSL=azure
HR_SESSION_SECRET=<long-random-secret>
